## In-class assignment - Python Basics

### 1. Maximun and minimum of three numbers

In [2]:
def find_max_min(a, b, c):
    max_val = -1
    min_val = -1
    
    if a>b:
      if a>c:
        max_val=a
      else:
        max_val=c
    elif b>c:
      max_val=b
    else:
      max_val=c

    if a<b:
      if a<c:
        min_val=a
      else :
        min_val=c
    elif b<c:
      min_val=b
    else:
      min_val=c
    
    return max_val, min_val

max_val, min_val = find_max_min(20, 10, 30)
print(f"Max={max_val} and Min={min_val}")

Max=30 and Min=10

### 2. Check if a number in divisible by n

In [1]:
#Check if x is divisible by n
def isDivisible(x, n):
    is_divisible = False
    
    if x%n==0:
      is_divisible = True
    
    return is_divisible

is_divisible = isDivisible(10, 2)
#Print "Divisible" if x is divisible by n otherwise "Not divisible"

if is_divisible>0:
    print("Divisible")
else:
    print("Not Divisible")

Divisible

### 3. Print Fibonacci sequence of length n

In [30]:
#A Fibonacci sequence is the integer sequence of 0, 1, 1, 2, 3, 5, 8....
#The first two terms are 0 and 1. 
#All other terms are obtained by adding the preceding two terms. 
#This means to say the nth term is the sum of (n-1)th and (n-2)th term.

n = 10
a,b=0,1

for i in range(n):
  print(a)
  temp=a+b
  a=b
  b=temp

0
1
1
2
3
5
8
13
21
34

### 4. Count number of vowels in a string using for loop

In [50]:
def get_vowel_count(x):
    vowel_count = 0
    vowels = ('a', 'e', 'i', 'o', 'u')
    
    for i in range(len(x)):
      for j in range(len(vowels)):
        if x[i].lower() == vowels[j]:
          vowel_count+=1
    
    return vowel_count

x = "QUeUEiNg"
print(f"Number of vowels in {x} is {get_vowel_count(x)}")

Number of vowels in QUeUEiNg is 5

### 5. Solve Question 4 using list comprehension

In [53]:
def get_vowel_count(x):
    vowel_count = 0
    vowels = ('a', 'e', 'i', 'o', 'u')
    
    for i in x.lower():
      if i in vowels:
        vowel_count+=1
    
    return vowel_count

x = "QUeUEiNg"
print(f"Number of vowels in {x} is {get_vowel_count(x)}")

Number of vowels in QUeUEiNg is 5

### 6. Create dictionary where key-value pair is roll number and marks obtained by a student. Print highest mark, lowest mark, and class average. Print the roll number of the students who scored more than 50.

In [101]:
student = {1: 40, 2: 65, 3: 70, 4: 55, 5: 49, 6: 50, 7: 99}
print(student)
print()

marks= list(student.values())

print(f"lowest mark= {min(marks)}")
print(f"highest mark= {max(marks)}")
print(f"class average= {sum(marks)/len(marks)}")

#roll=list(student.keys())
print("\nRoll nos. of students with marks more than 50 :")

for k,v in student.items():
  if v>50:
    print(k)

{1: 40, 2: 65, 3: 70, 4: 55, 5: 49, 6: 50, 7: 99}

lowest mark= 40
highest mark= 99
class average= 61.142857142857146

Roll nos. of students with marks more than 50 :
2
3
4
7

### 7 Print the following structure using for loop

In [89]:
##########
########
######
####
##
####
######
########
##########

for i in range(5):
    for j in range(2*(i), 10):
      print("# ", end="")  
    print()

for i in range(4):
    for j in range(4+(2*i)):
      print("# ", end="")  
    print()

# # # # # # # # # #
# # # # # # # #
# # # # # #
# # # #
# #
# # # #
# # # # # #
# # # # # # # #
# # # # # # # # # #

### 8. Write your own function to sort a list in ascending order

In [43]:
def sort_list(lst):
    #sorted_lst = []
    sorted_lst=lst

    for i in range(len(sorted_lst)-1):
      for j in range(len(sorted_lst)-i-1):
        if sorted_lst[j]>sorted_lst[j+1]:
          temp=sorted_lst[j]
          sorted_lst[j]=sorted_lst[j+1]
          sorted_lst[j+1]=temp

    return sorted_lst

lst = [3,5,1,9,7,8,3,9]
print(f"Original List : {lst}")
print(f"Sorted List : {sort_list(lst)}")

Original List : [3, 5, 1, 9, 7, 8, 3, 9]
Sorted List : [1, 3, 3, 5, 7, 8, 9, 9]

### 9. Count number of words using string split

In [17]:
s = "Sky is blue."
n=len(s.split())
print(f"Number of words= {n}")
#Your code

Number of words= 3

### 10. Extract Information

In [24]:
#A string is given using the following format {name}##{age}::{gender}::{ID}
#Write a code to extract the name, age, gender, and id and print them
import re
s = "Lisa##25::Female::123"

n=re.split('##|::',s)

print(f"name: {n[0]: <4}\nage: {n[1]: <4}\ngender: {n[2]: <4}\nid: {n[3]: <4}")

name: Lisa
age: 25
gender: Female
id: 123

## 11. Extract the int and float part in 3.14

In [3]:
#Extract the int and float part of 3.14

p=3.14
print("int part= {} \nfloat part= {}".format(int(p), p-int(p)))

int part= 3
float part= 0.14000000000000012

# 12. Calculate BMI

In [33]:
# Calucate BMI

def bmi(x,y):
    b=y/(x**2)
    if b<=18.5 :
      print("Underweight")
    elif b>=25:
      print("overweight")
    else:
      print("normal weight")

h=float(input("Height (in metre): "))
m=float(input("Mass (in kg): "))
bmi(h,m)

Height (in metre): 1.57
Mass (in kg): 55
normal weight